

.container{
    margin-top: 50px;
}

.btn-primary {
    width: 200px;
}

.image-container {
    text-align: center;
}
.img-fluid {
    width: 600px;
    height: auto;
}

.forgot{
    margin-top: 100px;
}

.jollycode{
    margin-top: 3px;
    text-align: center;
    font-weight: 900;
    font-size: 100px;
}

.code{
    color: green;
}


